html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #2c2141;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  background-color: #f8f8f8;
  border-radius: 16px;
  width: 624px;
  margin: 16px;
  padding: 32px;
}

.person {
  display:flex;
  align-items: start;
  
}

.person__description {
  font-size: 16px;
  line-height: 22px;
  margin: 0;
}

.person__description--with-margin {
  padding-bottom: 22px;
}

.person__info {
  padding-bottom: 24px;
}

.person__link {
  color: #e20613;
  text-decoration: none;
}

.person__name {
  font-size: 36px;
  margin: 0px;
  font-weight: normal;
}

.person__photo{
    margin-right: 32px;
}


.person__position {
  font-size: 18px;
  font-style: italic;
  margin: 0px;
  color: #545454;
}

.special {
  color: #ed6d05;
  font-weight: normal;
}
